body{
    background-color:rgb(23 23 23);
    font-family: "Gill Sans", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} 